<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="main.css">
<title>Hungry Hoos!</title>
</head>

<body>

	<header>
	<script
			src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="computGrade.js"></script>

		</head>
		<body ng-app="myApp">

			<hr />

			<br />


			</div>

		<h1>Hungry Hoos</h1>
		<h2>Free Food For Frugal Friends</h2>

		<ul>
			<li><a onmouseover="hover(this)" onmouseout="away(this)"
				href="home.jsp">Home</a></li>
			<li><a onmouseover="hover(this)" onmouseout="away(this)"
				href="about.html">About Me</a></li>
			<li><a onmouseover="hover(this)" onmouseout="away(this)"
				href="browse.html">Browse</a></li>
			<li><a onmouseover="hover(this)" onmouseout="away(this)"
				href="http://localhost/Feed-Me/sign.php">Sign In</a></li>
		</ul>

		<script>
			function hover(obj) {
				obj.style.fontWeight = "bold"
			}

			function away(obj) {
				obj.style.fontWeight = "normal"
			}
		</script>

	</header>

	<h3>Browse</h3>


	<!-- <button>Add Div</button> -->

	<script type="text/javascript">
		function addDiv(parent_div, content, attrs) {
			var div = document.createElement('div');
			var parent = document.getElementById(parent_div);

			for ( var key in attrs) {
				if (attrs.hasOwnProperty(key)) {
					div.setAttribute(key, attrs[key]);
				}
			}
			div.innerHTML = content;
			if (parent) {
				parent.appendChild(div);
			}
		}

		var button = document.getElementsByTagName('button')[0];
		if (button) {
			button.addEventListener('click', function() {
				// change dynamically your new div
				addDiv('eventSquare', 'hi', {
					'class' : 'someclass someclass',
					'data-attr' : 'attr'
				});
			});
		}
	</script>

	<div id="main" class="form"
		style="display: flex; justify-content: center; align-items: center;">

		<a href="createEvent.html" class="button"
			style="text-align: center; align-items: center; 75px;">new event</a>

	</div>

	<br />

	<div class="grid-container2">

		<div id="main" class="eventSquare"
			style="display: flex; justify-content: center; align-items: center;">
			<div id="main" class="eventContent">
				<a href="e1.jsp"><h2>Food Bananza</h2></a>

			</div>
		</div>


		<div id="main" class="eventSquare"
			style="display: flex; justify-content: center; align-items: center;">
			<div id="main" class="eventContent">
				<a href="e2.jsp"><h2>Froyzen</h2></a>
			</div>
		</div>

		<div id="main" class="eventSquare"
			style="display: flex; justify-content: center; align-items: center;">
			<div id="main" class="eventContent">
				<a href="e3.jsp"><h2>Lettuce have fun!</h2></a>
			</div>
		</div>

		<div id="main" class="eventSquare"
			style="display: flex; justify-content: center; align-items: center;">
			<div id="main" class="eventContent">
				<a href="e4.jsp"><h2>Matcha Madness</h2></a>
			</div>
		</div>
		
		<div id="main" class="eventSquare"
			style="display: flex; justify-content: center; align-items: center;">
			<div id="main" class="eventContent">
				<a href="e5.jsp"><h2>Bae-gels</h2></a>
			</div>
		</div>

		<div
			ng-init="events = [{name:'Froyzen', location:'Gilmer Hall'},
		          {name:'Food Bananza', location:'Rice Hall'},
		          {name:'Lettuce have fun!', location:'Newcomb Ballroom'},
		          {name:'Matcha Madness', location:'New Cabell Hall'},
		          {name:'Bae-gels', location:'Rice Hall'}] ">
		</div>
<div>
		<p style="text-alight: center">
			<i>Click each event for more information or if you're in a rush,
				quickly narrow it down by location!</i> <br>
			<br> <b>Search: <input ng-model="input"></b> <i
				class="fa fa-search"></i>
		<table id="Results">
			<tr ng-repeat="events in events | filter:input">
				<td>{{events.name}}</td>
			</tr>
		</table>
		</p>
	</div>
	

	</div>


	<footer> </footer>

</body>


</html>
