
<?php
	session_start();

	if(!isset($_SESSION['good']))
	{
		header("Location: browse.html");
	}
?>

<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="main.css">
<title>Hungry Hoos!</title>
</head>

<body>

	<header>

		<h1>Hungry Hoos</h1>
		<h2>Free Food For Frugal Friends</h2>



		<!--<ul>
		  <li><a onmouseover = "hover(this)" onmouseout = "away(this)" href="homeLogin.jsp?username="+ nameString>Home</a></li>
          <li><a onmouseover = "hover(this)" onmouseout = "away(this)" href="aboutLogin.html?username="+ nameString>About Me</a></li>
          <li><a onmouseover = "hover(this)" onmouseout = "away(this)" href="browseLogin.html?username="+ nameString>Browse</a></li>
          <li><a onmouseover = "hover(this)" onmouseout = "away(this)" href="http://localhost/Feed-Me/logout.php">Log Out</a></li>
		</ul> -->

		<ul>
			<li><a onmouseover="hover(this)" onmouseout="away(this)"
				id="home" href="">Home</a></li>
			<li><a onmouseover="hover(this)" onmouseout="away(this)"
				id="about" href="">About Me</a></li>
			<li><a onmouseover="hover(this)" onmouseout="away(this)"
				id="browse" href="">Browse</a></li>
			<li><a onmouseover="hover(this)" onmouseout="away(this)"
				id = "savedEvents" href="">Saved Events</a></li>
			<li><a onmouseover="hover(this)" onmouseout="away(this)"
				href="http://localhost/Feed-Me/logout.php">Log Out</a></li>
				
		</ul>

		<script>
			function getSearchParams(k) {
				var p = {};
				location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(s,
						k, v) {
					p[k] = v
				})
				return k ? p[k] : p;
			}
			var name = getSearchParams("username");
			
			document.getElementById("home").href = "homeLogin.jsp?username="
					+ name;
			document.getElementById("about").href = "aboutLogin.html?username="
					+ name;
			document.getElementById("browse").href = "browseLogin.html?username="
					+ name;
			document.getElementById("savedEvents").href = "http://localhost/Feed-Me/savedEvents.html?username="
				+ name;
			/*
			document.getElementById("e1").href = "e1L.jsp?username=" + "Jake";
			document.getElementById("e2").href = "e2L.jsp?username=" + "Jake";
			document.getElementById("e3").href = "e3L.jsp?username=" + "Jake";
			document.getElementById("e4").href = "e4L.jsp?username=" + "Jake";
			*/

			function hover(obj) {
				obj.style.fontWeight = "bold"
			}

			function away(obj) {
				obj.style.fontWeight = "normal"
			}
		</script>

	</header>

	<h3>Browse</h3>


	<!-- <button>Add Div</button> -->

	<script type="text/javascript">
		function addDiv(parent_div, content, attrs) {
			var div = document.createElement('div');
			var parent = document.getElementById(parent_div);

			for ( var key in attrs) {
				if (attrs.hasOwnProperty(key)) {
					div.setAttribute(key, attrs[key]);
				}
			}
			div.innerHTML = content;
			if (parent) {
				parent.appendChild(div);
			}
		}

		var button = document.getElementsByTagName('button')[0];
		if (button) {
			button.addEventListener('click', function() {
				// change dynamically your new div
				addDiv('eventSquare', 'hi', {
					'class' : 'someclass someclass',
					'data-attr' : 'attr'
				});
			});
		}
	</script>

	<div id="main" class="form"
		style="display: flex; justify-content: center; align-items: center;">

		<a id = "createEventLogin" href="" class="button"
			style="text-align: center; align-items: center; 75px;">new event</a>

	</div>

	<br />

	<div class="grid-container2">

		<div id="main" class="eventSquare"
			style="display: flex; justify-content: center; align-items: center;">
			<div id="main" class="eventContent">
				<a id = "e1" href=""><h2>Food Bananza</h2></a>

			</div>
		</div>


		<div id="main" class="eventSquare"
			style="display: flex; justify-content: center; align-items: center;">
			<div id="main" class="eventContent">
				<a id = "e2" href=""><h2>Froyzen</h2></a>
			</div>
		</div>

		<div id="main" class="eventSquare"
			style="display: flex; justify-content: center; align-items: center;">
			<div id="main" class="eventContent">
				<a id ="e3" href=""><h2>Lettuce have fun!</h2></a>
			</div>
		</div>

		<div id="main" class="eventSquare"
			style="display: flex; justify-content: center; align-items: center;">
			<div id="main" class="eventContent">
				<a  id="e4" href=""><h2>Matcha Madness</h2></a>
			</div>
		</div>

		<div
			ng-init="events = [{name:'Froyzen', location:'Gilmer Hall'},
		          {name:'Food Bananza', location:'Rice Hall'},
		          {name:'Lettuce have fun!', location:'Newcomb Ballroom'},
		          {name:'Matcha Madness', location:'New Cabell Hall'}]">

		</div>

		<p style="text-alight: center">
			<i>Click each event for more information or if you're in a rush,
				quickly narrow it down by location!</i> <br> <br> <b>Search:
				<input ng-model="input">
			</b> <i class="fa fa-search"></i>
		<table id="Results">
			<tr ng-repeat="events in events | filter:input">
				<td>{{events.name}}</td>
			</tr>
		</table>
		</p>
	</div>

	</div>
	
	<script>
	function getSearchParams(k) {
		var p = {};
		location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(s,
				k, v) {
			p[k] = v
		})
		return k ? p[k] : p;
	}
	var name = getSearchParams("username");
	
	document.getElementById("e1").href = "e1L.jsp?username=" + name;
	document.getElementById("e2").href = "e2L.jsp?username=" + name;
	document.getElementById("e3").href = "e3L.jsp?username=" + name;
	document.getElementById("e4").href = "e4L.jsp?username=" + name;
	document.getElementById("createEventLogin").href = "createEventLogin.html?username=" + name;

	</script>


	<footer> </footer>

</body>


</html>
